@use "mixins" as *;

// Variáveis para facilitar a manutenção
$cor-texto-infantil: #fce6df;
$cor-sombra-infantil: #d76d42;
$color-light-blue: #46b2ff;

.sticker-shadow-orange {
  text-shadow:
    3px 3px 0px $cor-sombra-infantil,
    4px 4px 8px rgba($cor-sombra-infantil, 0.6);
}

.sticker-shadow-blue {
  text-shadow:
    3px 3px 0px $color-light-blue,
    4px 4px 8px rgba($color-light-blue, 0.6);
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.flex-column-mobile {
  flex-direction: column;

  @include lg {
    flex-direction: row;
  }
}

.hide-on-mobile {
  display: none;

  @include lg {
    display: block;
  }
}
